In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns
%matplotlib inline
large = 22; med = 16; small = 12
params = {'axes.titlesize': large,
          'legend.fontsize': med,
          'figure.figsize': (16, 10),
          'axes.labelsize': med,
          'axes.titlesize': med,
          'xtick.labelsize': med,
          'ytick.labelsize': med,
          'figure.titlesize': large}
plt.rcParams.update(params)
# plt.style.use('seaborn-whitegrid')
sns.set_style("white")

In [9]:
df = pd.read_csv('Energy_Consumption_Data.csv')
df.head()

,House_ID,Month,Area_sq_ft,Occupants,Heating_Type,Age_of_Building,Insulation_Quality,Daily_Average_Consumption_kWh,Season,Energy_Efficiency_Rating,Tariff_Type,Bill_Amount,Renewable_Energy_Installed,Temperature_Average,Power_Outages,Monthly_Consumption_kWh
0,7271,Jan,662.0,5,NaN,27,Good,14.335539,Spring,2,Time-of-Use,88.741986,Yes,55.467771,1,501.232780
1,861,Oct,1253.0,2,NaN,13,cverage,25.917839,Spring,3,Variable,92.354940,Yes,36.388473,1,742.352878
2,5391,Dec,NaN,3,Gas,22,Poor,33.127843,Summer,6,Fixed,96.708638,No,94.550243,0,1018.708608
3,5192,Aug,1535.0,1,NaN,16,Good,7.451494,Autumn,6,Variable,95.568663,No,62.862087,2,199.420939
4,5735,Sep,1336.0,5,NaN,13,Excellent,34.649571,Winter,10,Variable,NaN,No,93.559405,3,933.151370

In [10]:
def printColumnValues(df, column_name):
    # Convert the column values to a list
    values = df[column_name].unique().tolist()
    print(values)

In [11]:
# Initialize an empty list to store the sizes
sizes = []
def dfSize(df):
    # Get the current size of the DataFrame
    current_size = df.shape
    print(f"Current size: {current_size}")
    # If there are previous sizes stored, print the last one
    if sizes:
        print(f"Previous size: {sizes[-1]}")
    # Store the current size
    sizes.append(current_size)

In [12]:
def outliersBeGone(df, column):    
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    dfOut = df[~((df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR)))]
    return dfOut

In [13]:
df.dropna(subset=['Daily_Average_Consumption_kWh'], inplace = True)  # Drop rows with NaN in 'Daily_Average_Consumption_kWh' column
df = df[df['Daily_Average_Consumption_kWh'].apply(lambda x: isinstance(x, float) and x > 0)] #! TODO: Values may not be float but still valid?
df = outliersBeGone(df, 'Daily_Average_Consumption_kWh')  # Remove outliers from 'Daily_Average_Consumption_kWh' column
dfSize(df)

Current size: (99352, 16)

In [14]:
df.dropna(subset=['Monthly_Consumption_kWh'], inplace = True)  # Drop rows with NaN in 'Daily_Average_Consumption_kWh' column
df = df[df['Monthly_Consumption_kWh'].apply(lambda x: isinstance(x, float) and x > 0)] #! TODO: Values may not be float but still valid?
df = outliersBeGone(df, 'Monthly_Consumption_kWh')  # Remove outliers from 'Daily_Average_Consumption_kWh' column
dfSize(df)

Current size: (99210, 16)
Previous size: (99352, 16)